<h1>CREATE TRANSACTION DETAILS</h1>
<form action="/transactionBooks" method="post">
<input type="number" name="accountHolderId" placeholder="enter accountHolderId">
<input type="number" name="bookId" placeholder="enter bookId">
<input type="date" name="startingDate" placeholder="enter startingDate ">
<input type="date" name="endingDate" placeholder="enter endingDate ">
<input type="date" name="actutalReturnDate" placeholder="enter actutalReturnDate ">
<input type="submit" name="submit">
</form>