<h1>CREATE BOOK DETAILS</h1>
<form action="/masterBooks" method="post">
<input type="hidden" value="<%= customer.id %>" name="owner">
<input type="text" name="bookName" placeholder="enter book Name">
<input type="text" name="bookAuther" placeholder="enter auther Name">
<input type="text" name="bookCopys" placeholder="enter number Of Copys ">
<input type="submit" name="submit">
</form>