<h1>CREATE ACCOUNT HOLDER</h1>
<form action="/masterAccounts" method="post">
<input type="text" name="name" placeholder="enter user name">
<input type="text" name="email" placeholder="enter user email">
<input type="text" name="phone" placeholder="enter user phone">
<input type="submit" name="submit">
</form>